@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: hsl(221 83% 53%);
  --color-accent: hsl(221 83% 53%);
  --color-sidebar: #fdfdff;
  --color-primary-text: #ffffff;
  --color-background: hsl(210 20% 98%);
  --color-foreground: hsl(222 47% 11%);
  --color-secondary: hsl(210 40% 96.1%);
  --color-muted: hsl(215.4 16.3% 46.9%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);
  --color-border: hsl(214.3 31.8% 91.4%);
  --color-icon-active: #3e4f7e;
  --color-icon-active-bg: #f1f5ff;
  --color-icon-inactive: #b2b5be;
  --font-sans: "Poppins", system-ui, sans-serif;
  --font-poppins: "Roboto", system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
  #root {
    @apply bg-background text-foreground overflow-y-hidden;
  }
  button {
    @apply cursor-pointer;
  }
}
@layer components {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

    &::-webkit-scrollbar {
      display: none; /* Chrome/Safari */
    }
  }
}
@utility button-primary {
  @apply bg-accent px-4 py-3 text-primary-text rounded-md;
}
@utility login-bg {
  background-image: url("./assets/login.webp");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 0.4);
    z-index: 0;
  }
}
